.click {
    background-color: black;
    color: white;
}
.noclick {
    background-color: yellow;
}

.click,.noclick {
    font-size: 28px;
    font-style: Helvetica, "Times New Roman", sans-serif;
}